<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/groupe.css">
    <title>{{ groupName }}</title>
    <style>

    </style>
</head>

<body>

    <header>
        <button id="toDashboard" onclick="window.location.href='/dashboard'">
            <span class="back-arrow">&#8592;</span> Retour au dashboard
        </button>

        <h1>{{ groupName }}</h1>
        <button onclick="openUserPopup()">Ajouter un utilisateur</button>
        <button onclick="openReminderPopup()">Ajouter un rappel</button>
    </header>

    <section id="reminders">
    <h2>Rappels</h2>
    <ul>
        {{#reminders}}
        <li>
            <div class="reminder-card">
                <h3>{{nom_rappel}}</h3>
                <p>{{description}}</p>
                <p>Date: {{date}}</p>
                <p>Heure: {{time}}</p>
            </div>
        </li>
        {{/reminders}}
    </ul>
</section>

    <div class="overlay" id="userOverlay">
        <div class="popup">
            <span id="close-btn" onclick="closeUserPopup()">&times;</span>
            <h2>Ajouter un utilisateur</h2>
            <form action="/adduseringroupe" method="post">
                <label for="new_user_email">Email :</label>
                <input type="text" id="new_user_email" name="new_user_email" required>
                <input type="hidden" name="groupe" value={{ groupName }}>
                <br>
                <button type="submit">Ajouter</button>
            </form>
        </div>
    </div>

    <div class="overlay" id="reminderOverlay">
        <div class="popup">
            <span id="close-btn" onclick="closeReminderPopup()">&times;</span>
            <h2>Ajouter un Rappel</h2>
            <form action="/ajouterrappel" method="post">
                <!-- ... (votre formulaire pour ajouter un rappel) -->
            </form>
        </div>
    </div>

    <script>
        function openUserPopup() {
            document.getElementById('userOverlay').style.display = 'flex';
        }

        function closeUserPopup() {
            document.getElementById('userOverlay').style.display = 'none';
        }

        function openReminderPopup() {
            document.getElementById('reminderOverlay').style.display = 'flex';
        }

        function closeReminderPopup() {
            document.getElementById('reminderOverlay').style.display = 'none';
        }
    </script>

</body>

</html>
