<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/groupe.css">
    <title>{{ groupName }}</title>
    <style>

    </style>
</head>

<body>

    <header>
        <button id="toDashboard" onclick="window.location.href='/dashboard'">
            <span class="back-arrow">&#8592;</span> Retour au dashboard
        </button>

        <h1>{{ groupName }}</h1>
        <button onclick="openUserPopup()">Ajouter un utilisateur</button>
        <button onclick="openReminderPopup()">Ajouter un rappel</button>
    </header>
    <h2>Rappels</h2>

    <section id="reminders">
            {{#reminders}}
                <div class="reminder-card">
                    <div class="reminder-title">{{nom_rappel}}</div>
                    <div class="reminder-description">{{description}}</div>
                    <div class="reminder-date">Date: {{date}}</div>
                    <div class="reminder-time">Heure: {{time}}</div>

                </div>
            {{/reminders}}
    </section>

    <div class="overlay" id="userOverlay">
        <div class="popup">
            <span id="close-btn" onclick="closeUserPopup()">&times;</span>
            <h2>Ajouter un utilisateur</h2>
            <form action="/adduseringroupe" method="post">
                <label for="new_user_email">Email :</label>
                <input type="text" id="new_user_email" name="new_user_email" required>
                <input type="hidden" name="groupe" value={{ groupName }}>
                <br>
                <button type="submit">Ajouter</button>
            </form>
        </div>
    </div>

  <div class="overlay" id="reminderOverlay">
        <div class="popup">
            <span id="close-btn" onclick="closeReminderPopup()">&times;</span>
            <h2>Ajouter un Rappel</h2>
            <form action="/ajouterrappel" method="post">
                <input type="hidden" name="groupe" value={{ groupName }}> <!-- changer value pour le nom du groupe-->

                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" required>
                <br>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" required>
                <br>
        
                <label for="dateEcheance">Date d'échéance:</label>
                <input type="date" id="dateEcheance" name="dateEcheance" required>
                <br>
        
                <label for="heureEcheance">Heure d'échéance:</label>
                <input type="time" id="heureEcheance" name="heureEcheance" required>
                <br>
        
                <label for="couleur">Couleur:</label>
                <input type="color" id="couleur" name="couleur" value="#000000" required>
                <br>
        
                <button type="submit">Ajouter</button>
            </form>
        </div>
    <script>
        function openUserPopup() {
            document.getElementById('userOverlay').style.display = 'flex';
        }

        function closeUserPopup() {
            document.getElementById('userOverlay').style.display = 'none';
        }

        function openReminderPopup() {
            document.getElementById('reminderOverlay').style.display = 'flex';
        }

        function closeReminderPopup() {
            document.getElementById('reminderOverlay').style.display = 'none';
        }
    </script>

</body>

</html>