<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Dashboard - {{prenom}} {{nom}}</title><!--Affichage du titre de la page au nom de l'utilisateur connecté-->
</head>

<body>

    <div class="dashboard-container">
        <h2>Tableau de bord</h2>

        <div class="user-info"><!--Affichage du nom, prénom et de l'adresse mail de l'utilisateur pour qu'il sache qu'il est bel et bien connecté sous le compte voulu-->
            <p>Bienvenue, {{prenom}} {{nom}} !</p>
            <p>Email: {{email}}</p>
        </div>

        <div class="dashboard-content">
            <div class="widget">
                <h3>Rappels à venir</h3>
                <ul id="RemindersList"><!--Affichage des rappels arrivant à échéance prochainement-->
                    {{#each allreminders}}
                    <li name="{{nom_rappel}}" data-action="/groupe/{{nom_groupe}}">{{nom_rappel}}</li>
                    {{/each}}
                </ul>

            </div>

            <div class="widget">
                <h3>Vos groupes</h3>
                <ul id="groupList"><!--Affichage de la liste des rappels (ascenseur si il y en a trop)-->
                    {{#each userGroups}}
                    <li name="{{this}}" data-action="/groupe/{{this}}">{{this}}</li>
                    {{/each}}
                </ul>
            </div>

            <button onclick="openPopup()">Créer un Groupe</button><!--Popup s'ouvrant pour créer le groupe et entrer son nom-->

            <div class="overlay" id="overlay">
                <div class="popup">
                    <span id="close-btn" onclick="closePopup()">&times;</span>
                    <h2>Créer un Groupe</h2>
                    <form action="/creategroupe" method="post">
                        <label for="groupename">Nom du Groupe:</label>
                        <input type="text" id="groupename" name="groupename" required>
                        <br>
                        <button type="submit">Créer</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="logout-link"><!--Lien pour se déconnecter et revenir sur la page de d'authentification-->
            <p><a href="/logout">Se déconnecter</a></p>
        </div>
    </div>

    <script>
        function openPopup() {
            document.getElementById('overlay').style.display = 'flex';
        }

        function closePopup() {
            document.getElementById('overlay').style.display = 'none';
        }

        // récupération de la liste des éléments li
        var groupItems = document.querySelectorAll('#groupList li');

        // Gestionnaire d'événements de clic à chaque élément li
        groupItems.forEach(function (item) {
            item.addEventListener('click', function () {
                // Récupération de l'URL d'action à partir de l'attribut data-action
                var actionUrl = item.getAttribute('data-action');

                // Action souhaitée de redirection de l'URL
                window.location.href = actionUrl;
            });
        });
    </script>

</body>

</html>